{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock title %} </title>
    <link rel="stylesheet" type="text/css" href=" {% static 'main/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav >
            <a href="/"> Portfolio </a> 
        </nav>
      {% block header %}
    <h1> My Sneakers </h1>
<div class="header-container">
    <h2> Total Items: <span class="green"> {{sneakers_count}} </span> </h2>
    <h2> Total Value: <span class="green"> {{total_value}} zł </span> </h2>
</div>
      {% endblock header %}
        
    </header>

    <main>
         
        <section class="sneakers">
            <article > 

      {% block content %}

        <div class="sneakers-container">
            {% for sneaker in sneakers%}

            <div class="item"> 
                <img src="{{sneaker.img.url}}" > 
                <div class="item-info">
                    <h3> {{sneaker.title}} </h3>
                    <h3> Size: {{sneaker.size}} US </h3>
                    <h3> Price: {{sneaker.price}} zł</h3>
                </div>
            </div>

            {% endfor %}
 
   

        </div>
      {% endblock content %}
               
            </article>


        </section>


    </main>

    <footer>
    </footer>

</body>

</html>
